.content-cards .film-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  background-color: #2e5b9e;
  box-shadow: 1px 4px 12px 0px rgba(0,0,0,0.75);
}
.content-cards .film-card img {
  max-width: 90%;
}
.content-cards .film-card .film-title {
  font-size: 16px;
  color: white;
}
.content-cards .film-card .film-author {
  font-size: 15px;
}
.content-cards .film-card p {
  max-width: 90%;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}