body {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 90px 1fr;
  grid-template-areas: "header"
                      "content";
}
body>header {
  grid-area: header;
  padding: 10px 30px 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #5c8dd6;
}
.header-logo img.logo {
  max-height: 90%;
}
.header-buttons {
  display: flex;
}
.header-filter-button,.header-add-button {
  background-color: #5c8dd6;
  border-radius: 5px 5px 0 0;
  width: 100px;
  height: 55%;
  align-self: flex-end;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-add-button {
  margin-left: 25px;
}
.header-filter-button>a,.header-add-button>a {
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 1fr;
}
.content-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-size: cover;                     
  background-repeat: no-repeat;
  background-position: center center;     
  opacity: 0.6;
  box-shadow:  0px 3px 11px 2px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-header.bg0 {
  transition: all 1s ease-in-out;
  background-image:url(../images/background1.jpg) ;
}
.content-header.bg1 {
  transition: all 1s ease-in-out;
  background-image:url(../images/background2.jpg) ;
}
.content-header.bg2 {
  transition: all 1s ease-in-out;
  background-image:url(../images/background3.jpg) ;
}
.content-header.bg3 {
  transition: all 1s ease-in-out;
  background-image:url(../images/background4.jpg) ;
}
.content-header-searcher {
  width: 60%;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 3px 9px 3px rgba(0,0,0,0.75);
}
.content-header-searcher input {
  flex-grow: 1;
  margin-left: 8px;
  border: none;
  outline: none;
}
.content-cards {
  background-color: #5c8dd6;
  padding: 25px;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill,minmax(250px,300px));
  grid-gap: 35px 35px;
  align-content: space-between;
  justify-content: space-around;
}